{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Dancing+Script|Kaushan+Script&display=swap" rel="stylesheet">
<title>WBB Library</title>
<style>
     
    p,h1,h2,h3,h4,h5,h6,a{
        font-family: 'PT Sans', sans-serif !important;      
    }
   
    .menu-name{
        background-color: #736453;
        color:#fff !important;
    }
    .uk-navbar-container{
        background-color: #454041 !important;
        color:#fff !important;
    }
</style>
</head>

<body>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-center">
        
                <div class="uk-navbar-center-left"><div>
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#aboutus" style="color:#fff" uk-scroll>About Us</a></li>
                        <li class="uk-active"><a href="#services" style="color:#fff" uk-scroll>Our Services</a></li>
                    </ul>
                </div></div>
                <a class="uk-navbar-item uk-logo" href="#" style="color:#fff;font-size: 40px" uk-scroll>-----</a>
                <div class="uk-navbar-center-right"><div>
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#menu" style="color:#fff" uk-scroll>Books</a></li>
                        <li class="uk-active"><a href="#contact" style="color:#fff"uk-scroll>Contact us</a></li>
                    </ul>
                </div></div>
        
            </div>
        </nav>
    </div>

    <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="{% static "images/b1.jpg" %}" uk-img>
        <h1 style="font-family: 'Alex Brush', cursive" class="uk-text-bold uk-heading-xlarge">WEBAREBEARS Library</h1>
    </div>
    <div class="uk-section" style="background-color: #736453" id="aboutus">
        <div class="uk-container">

            <h1 class="uk-heading-line uk-text-center" style="font-family: 'Dancing Script', cursive;color: #fff"><span>About Us</span></h1>
            <h3 class="uk-dropcap" style="font-family: 'Kaushan Script', cursive;color: #fff">Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
        </div>
    </div>

    
    

    <div class="uk-section uk-section-default" id="menu">
        <div class="uk-container">

            <h1 class="uk-heading-line uk-text-center uk-margin-medium-bottom" style="font-family: 'Dancing Script', cursive;"><span>Recommended Books</span></h1>
            <div class="uk-grid-match uk-child-width-1-3@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 400" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-box-shadow-large">
                        <div class="uk-card-media-top uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/book1.jpg" %}" alt="">
                        </div>
                        <div class="uk-card-body uk-padding-small menu-name">
                            <h3 class="uk-text-center uk-light" style="font-family: 'Kaushan Script', cursive;">Book 1</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-box-shadow-large">
                        <div class="uk-card-media-top uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/book2.jpg" %}" alt="">
                        </div>
                        <div class="uk-card-body uk-padding-small menu-name">
                            <h3 class="uk-text-center uk-light" style="font-family: 'Kaushan Script', cursive;">Book 2</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-box-shadow-xlarge">
                        <div class="uk-card-media-top uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/book3.jpg" %}" alt="">
                        </div>
                        <div class="uk-card-body uk-padding-small menu-name">
                            <h3 class="uk-text-center uk-light" style="font-family: 'Kaushan Script', cursive;">Book 3</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-box-shadow-large">
                        <div class="uk-card-media-top uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/book4.jpg" %}" alt="">
                        </div>
                        <div class="uk-card-body uk-padding-small menu-name">
                            <h3 class="uk-text-center uk-light" style="font-family: 'Kaushan Script', cursive;">Book 4</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-box-shadow-large">
                        <div class="uk-card-media-top uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/book5.jpg" %}" alt="">
                        </div>
                        <div class="uk-card-body uk-padding-small menu-name">
                            <h3 class="uk-text-center uk-light" style="font-family: 'Kaushan Script', cursive;">Book 5</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-box-shadow-xlarge">
                        <div class="uk-card-media-top uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/book6.jpg" %}" alt="">
                        </div>
                        <div class="uk-card-body uk-padding-small menu-name">
                            <h3 class="uk-text-center uk-light" style="font-family: 'Kaushan Script', cursive;">Book 6</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="services" class="uk-background-fixed uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="{% static "images/b2.jpg" %}" uk-img>
        <div class="uk-container">

            <h1 class="uk-heading-line uk-text-center" style="font-family: 'Dancing Script', cursive;color: #fff"><span>Our Services</span></h1>
            <div class="uk-grid-large uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-body uk-padding-small" style="background-color: #454041;border-radius: 50px"><span uk-icon="icon: user; ratio: 2"></span></div>
                </div>
                <div>
                    <div class="uk-card uk-padding-small uk-card-body" style="background-color: #454041;border-radius: 50px"><span uk-icon="icon: home; ratio: 2"></span></div>
                </div>
                <div>
                    <div class="uk-card uk-padding-small uk-card-body" style="background-color: #454041;border-radius: 50px"><span uk-icon="icon: tag; ratio: 2"></span></div>
                </div>
                <div>
                    <div class="uk-card uk-padding-small uk-card-body" style="background-color: #454041;border-radius: 50px"><span uk-icon="icon: cart; ratio: 2"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section" style="background-color: #736453" id="contact">
        <div class="uk-container">

            <h1 class="uk-heading-line uk-text-center" style="font-family: 'Dancing Script', cursive;color: #fff"><span>Contact Us</span></h1>
            <ul class="uk-list uk-text-center">
                <li style="color: #fff">Tell: 099-999-999</li>
                <li style="color: #fff">E-mail: webarebears@gmail.com</li>
                <li style="color: #fff">facebook: webarebears library</li>
                <li style="color: #fff">instagram: webarebears_library</li>
                <li><a href="" class="uk-icon-button uk-margin-small-right" uk-icon="facebook"></a><a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a><a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a></li>
            </ul>
        </div>
    </div>

    
</body>

</html>