{% load static %}
<!DOCTYPE HTML>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
     
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>  
        
        <!--Google Font-->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <title>Bakery House</title>
    <style>
        p,h1,h2,h3,h4,h5,h6,a{
            font-family: 'PT Sans', sans-serif !important;
           
        }
    </style>
</head>

<body>
        <nav class="uk-navbar-container uk-margin"  uk-navbar>
                <div class="uk-navbar-center">
            
                    <div class="uk-navbar-center-left"><div>
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="#">About us</a></li>
                            <li>
                                <a href="#">Our Services</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div></div>
                    <a class="uk-navbar-item uk-logo" style="font-family: 'PT Sans', sans-serif;" href="#">BAKERY HOUSE </a>
                    <div class="uk-navbar-center-right"><div>
                        <ul class="uk-navbar-nav">
                            <li><a href="#">Menu</a></li>
                        </ul>
                        <ul class="uk-navbar-nav">
                                <li><a href="#">Contact us</a></li>
                            </ul>
                    </div></div>
            
                </div>
            </nav>
        
                    <div class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle" data-src="{% static "images/bg1.jpg" %}" uk-img>
                        <p class="uk-h4"></p>
                    </div>
               
                <div class="uk-section uk-light" style="background-color: #705538">
                        <div class="uk-container">
                            <h1 class="uk-heading-line uk-text-right"><span>About us</span></h1>
                            <p class="uk-dropcap">Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <!-- <h3>Section</h3>
                    
                            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                </div>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                </div>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                </div>
                            </div> -->
                    
                        </div>
                        
                    </div>
                    <div class="uk-section" style="background-color: #ffffff">
                            <div class="uk-container">
                                <h1 class="uk-heading-line"><span>Recommended Menu</span></h1>
                                <div class="uk-grid-large uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 200; repeat: true">
                            
                                        <div>
                                            <div class="uk-card uk-card-default">
                                                <div class="uk-card-media-top">
                                                        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                                                <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/menu1.jpg" %}" alt="">
                                                        </div>
                                                </div>
                                                <div class="uk-card-body">
                                                    <h3 class="uk-card-title">Strawberry Pie</h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                                <div class="uk-card uk-card-default">
                                                    <div class="uk-card-media-top">
                                                            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                                                    <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/menu2.jpg" %}" alt="">
                                                            </div>
                                                    </div>
                                                    <div class="uk-card-body">
                                                        <h3 class="uk-card-title">Strawberry Pie</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                    <div class="uk-card uk-card-default">
                                                        <div class="uk-card-media-top">
                                                                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                                                        <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/menu3.jpg" %}" alt="">
                                                                </div>
                                                        </div>
                                                        <div class="uk-card-body">
                                                            <h3 class="uk-card-title">Strawberry Pie</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                        <div class="uk-card uk-card-default">
                                                            <div class="uk-card-media-top">
                                                                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                                                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/menu4.jpg" %}" alt="">
                                                                    </div>
                                                            </div>
                                                            <div class="uk-card-body">
                                                                <h3 class="uk-card-title">Strawberry Pie</h3>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                            <div class="uk-card uk-card-default">
                                                                <div class="uk-card-media-top">
                                                                        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                                                                <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/menu5.jpg" %}" alt="">
                                                                        </div>
                                                                </div>
                                                                <div class="uk-card-body">
                                                                    <h3 class="uk-card-title">Strawberry Pie</h3>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                                <div class="uk-card uk-card-default">
                                                                    <div class="uk-card-media-top">
                                                                            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                                                                                    <img class="uk-transition-scale-up uk-transition-opaque" src="{% static "images/menu6.jpg" %}" alt="">
                                                                            </div>
                                                                    </div>
                                                                    <div class="uk-card-body">
                                                                        <h3 class="uk-card-title">Strawberry Pie</h3>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                            </div>                        
                    </div>
                    <div class="uk-section uk-light" style="background-color: #705538">
                            <div class="uk-container">
                                <h1 class="uk-heading-line uk-text-center"><span>Contact us</span></h1>
                                <ul class="uk-list uk-text-center">
                                        <li>List item 1</li>
                                        <li>List item 2</li>
                                        <li>List item 3</li>
                                    </ul>
                            </div>
                        
                    </div>
                    <div class="uk-background-fixed uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle" data-src="{% static "images/bg2.jpg" %}" uk-img>
                        <p class="uk-h4"></p>
                    </div>
                    
</body>

</html>