<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Books</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %} 
            <tr>
                <td> <a href="{% url 'edit_item' pk=item.id %}">{{ item.name }}

                    </a> 
                </td>
                <td> {{ item.amount }} </td>
                <td> {{ item.price }} </td>
                <td>  {{ item.category }}</td>
                <td><a href="{% url 'sell_item' pk=item.id%}">ขาย</a></td>
            </tr>
       
    {% endfor %}
        </tbody>
    </table>
    
        
</body>
</html>